@model TwilioApplication.Models.HNIModel
@{
    ViewBag.Title = "FoodMenu";
    Layout = "~/Views/Shared/_LayoutNew.cshtml";
}



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- APP MAIN ==========-->
<main id="app-main" class="app-main">
  <div class="container">
    <div class="wrap">
      <section class="app-content"> 
      
      <!-- .row -->
      
          <div class="col-md-12">
            <div class="row">
              <div class="widget row no-gutter p-lg">
                <div class="table-responsive">
       <table id="example" class="table table-bordered table-striped">
    <thead>
      <tr>
        <td width="5%" align="center" valign="middle"><strong>Select</strong></td>
        <td width="71%" align="left" valign="middle"><strong>Choice  of menu</strong></td>
        <td width="12%" align="center" valign="middle"><strong>Breakfast/Lunch</strong></td>
        <td width="6%" align="center" valign="middle"><strong>Choice</strong></td>
        <td width="6%" align="center" valign="middle"><strong>Active</strong></td>
      </tr>
    </thead>
    <tbody>
    @if (Model.getFoodDetail.Count > 0 && Model.getFoodDetail != null)
    {
        foreach (var item in Model.getFoodDetail)
        {
            
        
      <tr>
        <td align="center" valign="middle"><input name="select" type="radio" class="selectradio" value="@item.foodmenuid"></td>
        <td id="glocation">@item.choiceofmenu  </td>
        <td align="center" valign="middle"><select class="form-control input-sm" disabled>
          
          @switch (@item.mealsinterestedin.Trim())
         {
             case "Both":
                                        <option>Breakfast</option>
                                        <option>Lunch</option>
                                        <option selected>Both</option>
                 break;
             case "Breakfast":
                                        <option selected>Breakfast</option>
                                        <option>Lunch</option>
                                        <option>Both</option>
                 break;
             case "Lunch":
                                        <option>Breakfast</option>
                                        <option selected>Lunch</option>
                                        <option>Both</option>
                 break;
             default:
                 break;
         }
          </select>
        </td>
        <td align="center" valign="middle" id="choice">@item.choice</td>
           @{string active = @item.active == "Y" ? "checked" : string.Empty;}
        <td align="center" valign="middle"><input name="select" type="checkbox" id="act" value="@item.active" @active  onclick="return false"></td>
      </tr>
        }
    }
    </tbody>
  </table>
  </div>
              </div>
            </div>
          </div>
          <!-- .row -->
          <div class="col-md-12">
            <div class="row">
              <div class="widget row no-gutter p-lg">
              <form role="form" class="form-horizontal">
    <div class="form-group" style="padding:0 0 5px 0;">
      <label for="email3" class="control-label col-sm-2">Choice of Menu</label>
      <div class="col-sm-10">
        <input type="text" placeholder="" id="locationtxt" class="form-control input-sm">
      </div>
    </div>
    
    <div class="form-group" style="padding:0 0 5px 0;">
      <label for="email3" class="control-label col-sm-2">Breakfast/Lunch/Both</label>
      <div class="col-sm-10">
        <table cellspacing="0" cellpadding="0" border="0" width="30%">
  <tbody><tr>
    <td width="39%"><label>Breakfast</label><span style="padding:0 5px 0 0; float:left;"><input type="radio" checked="" id="break" value="Breakfast" name="blb"></span></td>
    <td width="33%"><label>Lunch</label><span style="padding:0 5px 0 0; float:left;"><input type="radio" value="Lunch" id="lunch" name="blb"></span></td>
    <td width="28%"><label>Both</label><span style="padding:0 5px 0 0; float:left;"><input type="radio" value="Both" id="both" name="blb"></span></td>
  </tr>
</tbody></table>
      </div>
    </div>
    
   
    
    <div class="form-group" style="padding:0 0 5px 0;">
      <label for="email3" class="control-label col-sm-2">Choice</label>
      <div class="col-sm-2">
        <input type="text" placeholder="" id="choicetxt" class="form-control input-sm">
      </div>
    </div>
    
    <div class="form-group" style="padding:0 0 5px 0;">
      <label for="email3" class="control-label col-sm-2">Active  </label>
      <div class="col-sm-10">
        <table cellspacing="0" cellpadding="0" border="0" width="13%">
  <tbody><tr>
    <td width="50%"><label>Yes</label><span style="padding:0 5px 0 0; float:left;"><input type="radio" checked="" id="activeyes" value="Y" name="active"></span></td>
    <td width="50%"><label>No</label><span style="padding:0 5px 0 0; float:left;"><input type="radio" value="N"  id="activeno"  name="active"></span></td>    
  </tr>
</tbody></table>
      </div>
    </div>
        
    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
	    
        <button class="btn btn-primary pull-right" type="button" onclick="SaveData()">Submit/Update</button> &nbsp;&nbsp;
		<button class="btn btn-primary pull-right" type="Clear"  style="margin-right:10px">Clear</button>
      </div>
    </div>
  </form>             
                
              </div>
            </div>
          </div>
        
    
    </section>
    <!-- #dash-content --> 
  </div>
  
  <!-- .wrap -->
  
  </div>
        <input type="hidden" value="" id="locationid" />
</main>
<!--========== END app main -->
<script>

    $(document).ready(function () {
        //$(".selectradio").click(function () {
        //    alert($(this).val());
        //});

        $(".selectradio").click(function () {
            var row = $(this).parent().parent();
            var valueOfRadio = $(this).val();
            $('#locationid').val(valueOfRadio);

            var selecteditem = row.find(':selected').text();
            var dorder = row.find('#dorder').text();

            var glocation = row.find('#glocation').text();

            var choice = row.find('#choice').text();
            var act = row.find('#act').val();

            $('#locationtxt').val(glocation);
            $('#choicetxt').val(choice);
            $('#ordertxt').val(dorder);

            if (selecteditem == "Both") {
                $('#both').prop('checked', true);
            }
            if (selecteditem == "Breakfast") {
                $('#break').prop('checked', true);
            }
            if (selecteditem == "Lunch") {
                $('#lunch').prop('checked', true);
            }

            if (act == "Y") {
                $('#activeyes').prop('checked', true);
            }
            else {
                $('#activeno').prop('checked', true);
            }



            // alert(valueOfRadio + "-" + selecteditem + "-" + dorder + "-" + choice + "-" + act + "-" + glocation);
        });

    });

    function SaveData() {
        var foodmenuid, choiceofmenu, ordertxt, choicetxt, type, active;
        // alert('SaveData');
        foodmenuid = $('#locationid').val();
        choiceofmenu = $('#locationtxt').val();
        choicetxt = $('#choicetxt').val();
       // ordertxt = $('#ordertxt').val();
        type = $("input[type='radio'][name='blb']:checked");
        active = $("input[type='radio'][name='active']:checked");

        if (locationtxt == '' || choicetxt == '') {
            alert('Please enter Choice of Menu/Choice');
            return false;
        }
        $.ajax({
            type: "POST",
            url: '@Url.Action("insertupdateFoodMenu", "HNI")',
            cache: false,
            dataType: "json",
            data: { 'foodmenuid': foodmenuid, 'choiceofmenu': choiceofmenu, 'choice': choicetxt, 'active': active.val(), 'type': type.val() },
            //  contentType: 'application/json; charset=utf-8',
            success: function (data) {
                if (data == true) {
                    alert("Date Inserted successfully!");
                    window.location.href = '@Url.Action("FoodMenu", "HNI")';
                    }
                    else {
                        alert("Due to some issue data not inserted into DB. Please contact administrator");
                    }
                },
            error: function (result) {
                alert('Cannot update selection values now!!');
            }
        })
        }

</script>